/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require uikit
 *= require_tree .
 *= require_self
 *= require evil-icons
 */

/* Setup Colors */
$text-alternate: darken(#FFFFFF, 45%);

html, body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

/* Text Setup */
.text-alt { color: $text-alternate; }

/* Modals */
.uk-modal-dialog {
  border-radius: 5px;
  max-height: 85%;
}

/* Borders */
$border-color: darken(#FFFFFF, 10%);

.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-right {
  border-right: 1px solid $border-color;
}

/* Margins */
.margin-small { margin: 5px; }
.margin-default { margin: 10px; }
.margin-large { margin: 20px; }

.margin-top { margin-top: 10px; }
.margin-top-large { margin-top: 20px; }
.margin-left { margin-left: 10px; }
.margin-left-large { margin-left: 20px; }
.margin-right { margin-right: 10px; }
.margin-right-large { margin-right: 20px; }
.margin-bottom { margin-bottom: 10px; }
.margin-bottom-large { margin-bottom: 20px; }
